{include file="common/header-normal"/}
<article id="main">
    <!-- 封面 -->
    <header oncontextmenu="return false;" onselectstart="return false">
        <h2>{$title} - {$Think.config.app_index_title}</h2>
        <p>
            {$Think.config.app_subtitle_title}
        </p>
    </header>
    <!-- 内容主体 -->
    <section class="wrapper style5">
        <div class="inner">
            <h4>{$Think.config.app_name}</h4>
            <p> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;	
            	起始于2020年1月中旬，新冠肺炎来临之际居家隔离期成型，其初衷为大家提供真实，可回看的微博热搜历史检索服务。个人主体主办，作为个人小众第三方的方式记录热搜数据，统计，汇总供学习交流使用。您可以将汇总数据用来学习、论文、科研舆论分析等而无需向本站支付任何费用也无需刻意声明来源，本站也不提供任何承诺。仅为大家提供免费平台获取已被遗忘的那些动态信息。您要是觉得本应用不错欢迎通过资助通道对本应用提供捐助。最终解释权归本应用作者所有。
                <br>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                如果您对本应用有什么更好的建议或者需求欢迎通过电子邮件的形式提交给开发者。
                <br>
                Author Email: interestingcn01@gmail.com
            </p>
            <hr />
        </div>
        </div>
    </section>
</article>
{include file="common/footer"/}