{include file="common/header-normal"/}
<article id="main">
    <!-- 封面 -->
    <header oncontextmenu="return false;" onselectstart="return false">
        <h2>{$title} - {$Think.config.app_index_title}</h2>
        <p>
            {$Think.config.app_subtitle_title}
        </p>
    </header>
    <!-- 内容主体 -->
    <section class="wrapper style5">
        <div class="inner">
            <h4>{$Think.config.app_name}</h4>
            <p> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;	
            	修改本文件内容 在网站项目目录 /application/index/view/index/about/about-main.html
            </p>
            <hr />
        </div>
        </div>
    </section>
</article>
{include file="common/footer"/}