<!DOCTYPE HTML>
<html>
<head>
    <title>{$title} - 微博热搜博物馆</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="__ASSEST__/css/main.css"/>

</head>
<body class="landing">
<!-- Page Wrapper -->
<div id="page-wrapper">
    <!-- Banner -->
    <section id="banner">
        <div class="inner">
            <h2>关于 - {$Think.config.app_name}</h2>
            <p>但愿那些不为人知的你，都有被好好珍藏。</p>
            <ul class="actions">

                <li><a href="{:url('index/index/about',['step'=>'main'])}" class="button special">About</a></li>
            </ul>
        </div>
    </section>
</div>
<!-- Scripts -->
<script src="__ASSEST__/js/jquery.min.js"></script>
<script src="__ASSEST__/js/jquery.scrollex.min.js"></script>
<script src="__ASSEST__/js/jquery.scrolly.min.js"></script>
<script src="__ASSEST__/js/skel.min.js"></script>
<script src="__ASSEST__/js/util.js"></script>
<!--[if lte IE 8]>
<script src="__ASSEST__/js/ie/respond.min.js"></script>
<![endif]-->
<script src="__ASSEST__/js/main.js"></script>
</body>
</html>