{/* 使用指南 */ }
{include file="common/header-normal"/}
<article id="main">
    <header oncontextmenu="return false;" onselectstart="return false">
        <h2>使 用 指 南 - {$Think.config.app_index_title}</h2>
        <p>
            希望您用一分钟时间阅读下列说明，让您更加了解本应用
        </p>
    </header>
    <section class="wrapper style5">
        <div class="inner">
            <header>
                <h4>首页</h4>
                <p>您打开网站看到的第一个页面</p>
            </header>
            <p>您所访问的首页显示为当前时间热搜榜单，应用系统时间延迟5-10秒左右，此时间为采集服务工作时间。
                开发者认为，本系统主要面向历史搜索检索汇总而非浏览实时热搜，如果需要查看实时热搜可直接访问微博热搜网站即可。
            </p>
            <hr />
            <header>
                <h4>登陆</h4>
                <p>您进入本应用的第一个操作</p>
            </header>
            <p>您需要使用您的社交账号（QQ）通过Oauth方式授权登陆本应用。
                本应用无法获取您的QQ号码与密码信息，QQ仅会给我们返回一个OpenID用于标识用户。
                无论您是输入密码登录还是扫描二维码登录，皆在腾讯域名下完成，保证您的账户安全。
            </p>
            <hr />
            <header>
                <h4>搜索</h4>
                <p>您可以搜索印象中的关键词</p>
            </header>
            <p>应用提供关键词检索功能。共两个搜索入口，分别为顶栏搜索框与侧栏进入高级搜索页面。顶栏搜索框无提交按钮，使用回车键即可提交搜索内容。搜索主要是检索热搜关键词而非时间，一次仅可搜索一个关键词，暂不支持多个关键词的匹配联合搜索。
            </p>
            <hr />
            <header>
                <h4>历史热搜重映</h4>
                <p>您可以查看历史某一时刻热搜榜单数据（精确到分钟）</p>
            </header>
            <p>您可以打开高级搜索功能选择时间检索，点击输入框显示时间选择器，选择您想要访问的日期和时间，点击检索即可。
                <br>时间范围大约为2020年2月6日至今，前期1.0版本与该版本过渡期转换数据部分数据没有采集，请自行判断是否为所需数据
            </p>
            <hr />
            <header>
                <h4>热搜详情</h4>
                <p>热搜条目右侧详情按钮，可查看热搜关注趋势</p>
            </header>
            <p>目前热搜详情主要关注该热搜榜单排名与关注人数。页面绘制数据图表。当时间量比较大数据密集时，可在图表上横向拖动鼠标进行选取放大。图表支持保存到本地。
            </p>
            <hr />
            <header>
                <h4>每日热搜</h4>
                <p>使用每日热搜可轻松查询某天全部热搜数据</p>
            </header>
            <p>点击侧栏进入高级搜索功能模块，最下方输入框即为 每日热搜 数据输入框。
                <br>
                输入时间即可查询某天全部热搜数据自动进行汇聚整合。
                <br>
                您可以在搜索框下面发现一个名字叫做 “仅首次出现” 的单选框。
                <br>
                举例应用场景：热搜条目 “张三” 于2020年4月1日出现在微博热搜排行榜，于2020年4月2日退出排行榜，为期一天。即2020年4月1日和4月2日都有张三。
                <br>
                此时我们举例搜索2020年4月2日数据。如果您勾选了仅首次出现，那么搜索结果中将不会出现“张三”，因为其首次出现时间为4月1日。
                反之，您可以搜索的到。
                <br>
            </p>
            <hr>
            <header>
                <h4>关于热搜数据信息</h4>
                <p>数据统计说明</p>
            </header>
            <p>本应用信息采集间隔为1分钟，每分钟的前5秒钟为数据更新时间。
                但是微博热搜排行榜并非分钟级别更新数据，您可以打开微博热搜并执行多次刷新便能看出每次显示的信息都是不一样的，
                置顶信息为组合形式每次访问皆为不同的信息。之前也考虑过每分钟多次采集后来发现不仅没有意义还消耗大量存储所以没有采用。
                <br>
                希望您能够了解这一点合理使用数据。
                <br>
            </p>
            <hr>
            <header>
                <h4>快速导入Excel</h4>
                <p>快速将数据导入Excel表格内</p>
            </header>
            <p>您首先使用您的浏览器打开您要导入数据的页面，复制浏览器网址栏内Url。
                <br>打开Excel表格后，打开顶栏“数据” -> 自网站。在“新建Web查询”框体中地址栏粘贴前面的网址。
                <br>在页面榜单处点击选择数据框的小箭头，最后点击框体底部导入即可。详细步骤可自行百度此方面相关知识。
            </p>
            <hr>

            <header>
                <h4>能否爬取本应用？</h4>
                <p>使用自动化程序自动获取数据</p>
            </header>
            <p>本应用免费向大家开放后出现了大量爬虫以相当密集的速度爬取本应用内数据，使得数据库ECS性能积分不足。现使用账户约束用户使用量以保证
                您可以以最快的速度访问您所需要的资源。
                <br>
                为避免未知爬虫占用资源现每账户周期内仅分配1000次调用权限。当您需要更多调用次数时请发送您的OpenID与情况发送到开发者
                电子邮箱即可为您开放更多数据资源。本应用是免费的，不会向您收取任何费用。
                <br>
                随缘更新周期，数据初始量后期也可能调整，有问题欢迎反馈！
                <br>
                当您有需求需要爬取本站应用，请发送您的公网IP地址到开发者邮箱，我将会和您取得联系后分配爬虫可爬取时间以及资源分配问题。
            </p>
            <hr>
            <header>
                <h4>应用资源计量规则</h4>
                <p>如何计量使用</p>
            </header>
            <p>现默认每账户周期内默认1000次调用权限。
                <br>
                关键词搜索，热搜条目详情，历史热搜，每日热搜汇总以及多数据分页（现每页100条数据）均算为1次调用。
            </p>
            <hr>
            <header>
                <h4>写在最后</h4>
                <p>你若爱，生活哪里都可爱。</p>
            </header>
            <p>本应用完全免费开放共大家使用，您可以在此搜索您想要的数据用于数据分析，写作，论文，舆论科研等任意方面而无需
                向本站支付任何费用。本站完全开放免费供大家检索数据，本站为提升用户体验无插入任何广告。
                <br>
               
            </p>
            <p> 您可以修改此页面内容 /application/index/view/index/help.html</p>
            <hr>

        </div>
        </div>
    </section>
</article>
{include file="common/footer"/}