{/* 捐助页面 */ }
{include file="common/header-normal"/}
<article id="main">
    <header oncontextmenu="return false;" onselectstart="return false">
        <h2>赞 助 本 站 - 微 博 热 搜 博 物 馆</h2>
        <p>
            您的每一笔赞助都将用来提升服务器硬件设施与软件研发与应用运行时长
        </p>
    </header>
    <section class="wrapper style5">
        <div class="inner">
            <header>
                <h4>赞助本站</h4>

                <!-- 请及时删除下行指示代码 -->
                <h4>您可以修改此页面内容 /application/index/view/index/subsidize.html</h4>

                <p>请在信息检索完成后再考虑自愿打赏或捐助本应用。</p>
            </header>
            <p>您的每一笔赞助都将用来购买服务器租赁时长、软件研发与域名费用等，用以提升本站服务质量与运行时长。
                为了避免安全问题暂不接受直接服务器捐赠。其余开支由本应用开发者承担。本站自2020年起开始运行，如有数据检索不到位还请谅解。
                <br>
                捐赠请备注“微博热搜博物馆捐赠”和您的称呼或者网名，您提供的名字将写在本站贡献者名单内。
            </p>

             <!-- 请及时删除下行指示代码 -->
            <h4>您可以修改此页面内容 /static/index/images/subsidize.png  1274 × 476</h4>
            <img width="100%" src="__ASSEST__/images/subsidize.png" alt="">
            <ul class="actions">
                <li><a href="{:url('index/index/contributingMember')}" class="button special">贡献者名单</a></li>
            </ul>
        </div>
        </div>
    </section>
</article>
{include file="common/footer"/}